<!-- <div class="columns is-mobile is-centered">
  <div class="column is-four-fifths-mobile is-one-third-desktop">
    <h1 class="has-text-centered is-size-4 has-text-info">
      Quarter Final
    </h1>
    <div class="table_container">
      <table class="table is-striped is-fullwidth">
        <tbody>
          <tr>
            <th class="has-text-centered">club</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">-</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">club</th>
          </tr>
          <tr></tr>
          <tr>
            <th class="has-text-centered">club</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">-</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">club</th>
          </tr>
          <tr>
            <th class="has-text-centered">club</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">-</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">club</th>
          </tr>
          <tr>
            <th class="has-text-centered">club</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">-</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">club</th>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <h1 class="has-text-centered is-size-4 has-text-info">
      Semi Final
    </h1>
    <div class="table_container">
      <table class="table is-striped is-fullwidth">
        <tbody>
          <tr>
            <th class="has-text-centered">club</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">-</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">club</th>
          </tr>
          <tr>
            <th class="has-text-centered">club</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">-</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">club</th>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <h1 class="has-text-centered is-size-4 has-text-info">
      Final
    </h1>
    <div class="table_container">
      <table class="table is-striped is-fullwidth">
        <tbody>
          <tr>
            <th class="has-text-centered">club</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">-</th>
            <td class="has-text-centered">score</td>
            <th class="has-text-centered">club</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->

<div class="demo">
  "here"
</div>
