<div class="has-text-centered">
  <button
    (click)="startMatch()"
    class="button is-link"
    [disabled]="!disabledRun"
  >
    Simulate
  </button>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-full-mobile is-two-thirds-desktop">
    <hr />
    <div class="table_container">
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th></th>
            <th class="club has-text-centered">Club</th>
            <th class="club has-text-centered">
              <abbr title="Points">PTS</abbr>
            </th>
            <th class="has-text-centered">
              <abbr title="Journée">J</abbr>
            </th>
            <th class="has-text-centered"><abbr title="Victoires">V</abbr></th>
            <th class="has-text-centered"><abbr title="Nuls">N</abbr></th>
            <th class="has-text-centered"><abbr title="Défaites">D</abbr></th>
            <th class="has-text-centered"><abbr title="Buts Pour">BP</abbr></th>
            <th class="has-text-centered">
              <abbr title="Buts Contre">BC</abbr>
            </th>
            <th class="has-text-centered">
              <abbr title="Différence">DIF</abbr>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of results; let index = index">
            <th>{{ index + 1 }}</th>
            <td>
              {{ result.team.nom }}
            </td>
            <td class="has-text-centered">{{ result.score }}</td>
            <td class="has-text-centered">{{ result.numberMatchPlayed }}</td>
            <td class="has-text-centered">{{ result.victoire.number }}</td>
            <td class="has-text-centered">{{ result.matchNul.number }}</td>
            <td class="has-text-centered">{{ result.defaite.number }}</td>
            <td class="has-text-centered">{{ result.butMarque }}</td>
            <td class="has-text-centered">{{ result.butEncaisse }}</td>
            <td class="has-text-centered">{{ result.differBut }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
